 .wulai-feedback {
    position: absolute;
    bottom: 3px;
    background: #EEE;
    width: 159px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 0;
  }

@media screen and (min-device-width: 1171px) and (max-width: 3000px) {
    .wulai-send-btn:hover {
        box-shadow: 0 2px 4px 0 rgba(95, 164, 158, 0.5);
    }

   .min_icon {
    background: url("/static/img/dropdown-icon.svg") no-repeat center;
    background-size: 10px 6px;
    width: 34px;
    height: 34px;
  }
}
@media screen and (max-width: 3000px) {
 .wulai {
    font-family: PingFangSC, AvenirNext, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
    visibility:visible !important;
    font-size: 12px;
    position: fixed;
    right: 70px;
    bottom: 0px;
    width: 312px;
    height: 474px;
    z-index: 900000;
    overflow: hidden;
    background: #FFF;
    box-shadow: -3px -2px 8px -1px rgba(0,0,0,0.2);
    border-radius: 2px 0px 0px 2px;
    transition: all 0.3s;
  }

 .wulai-info {
    height: 60px;
    background-color: #38b2a6;
 }

  .wulai-pannel-bd {
    height: 63%;
    width: 100%;
    overflow-y: auto;
  }

  .wulai-pannel-ft {
    border-top: 1px #f5f5f5 solid;
    position: relative;
    height: 19%;
  }

  .wulai-help {
    text-align: center;
    color: #94A4B3;
    background-color: #f8f8f6;
    height: 22px;
    line-height: 22px;
    font-size:10px;
  }

}

@media screen and (max-width: 1170px) {
  .wulai {
    visibility:visible !important;
    font-size: 12px;
    position: fixed;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FFF;
    box-shadow: -3px -2px 8px -1px rgba(0,0,0,0.2);
    border-radius: 2px 0px 0px 2px;
    transition: all 0.3s;
  }

   .wulai-info {
        height: 60px;
        background-color: #38b2a6;
     }

  .wulai-pannel-bd {
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto;
  }

  .wulai-pannel-ft {
    border-top: 1px #f5f5f5 solid;
    height: 100px;
    position:absolute;
    bottom:28px;
    width: 100%;
  }

  .wulai-help {
    text-align: center;
    color: #94A4B3;
    font-size:10px;
    background-color: #f8f8f6;
    height: 22px;
    line-height: 22px;
    position:absolute;
    bottom:0;
    width: 100%;
  }

  .wulai-help img {
    width: 22px;
    vertical-align:middle;
    padding: 5px;
   }

    .min_icon {
        background: url("/static/img/new-nav-close.svg") no-repeat center;
        background-size: 14px 14px;
        width: 44px;
        height: 60px;
    }
}

  .wulai-fold {
    right: -300px;
    bottom: -368px;
    transition: all 0.3s;
  }
  .wulai-fold .count {
    right: 42px;
  }

  .wulai-fold .wulai-info .wulai-title:after {
    content: '[展开]';
    color: #F40;
    position: relative;
    float: left;
  }
  .wulai-fold .wulai-info {
    right: 322px;
  }



 .wulai-title {
    color: white;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 0;
    vertical-align: middle;

 }

  .wulai-title img {
    padding: 16px 12px 16px 12px;
    vertical-align:middle;
 }

 .minimize {
    float: right;
    margin-right: 1px;
 }


 .wulai-title i {
   display: inline-block;
   width: 16px;
   height:1px;
   background: white;
   line-height: 0;
   font-size:0;
   vertical-align: middle;
   -webkit-transform: rotate(45deg);
 }

  .wulai-pannels {
    float: left;
    width: 400px;
    height: 350px;
  }

  .wulai-item {
    display: none;
    padding-bottom: 10px;
  }
  .wulai-item.current {
    display: block;
  }

  .wulai-pannel-ft textarea {
    resize: none;
    border: none;
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;
    width: 96%;
    height: 53%;
    bottom: 6px;
    outline: none;
    line-height: 18px;
    font-size: 12px;
    overflow-y: auto;
    background-color: #ffffff;
  }
  .wulai-log {
    padding: 25px 10px 0;
    overflow: hidden;
    line-height: 18px;
  }
  .wulai-log .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    border-radius: 4px;
    cursor: pointer;
  }
  .wulai-log .avatar img {
    width: 30px;
    min-height: 30px;
  }
  .wulai-log .time {
    width: 100%;
    font-size: 10px;
    margin-left: 13px;
    margin-bottom: 4px;
    float: left;
    color: #999;
  }
  .wulai-log .time b {
    text-decoration: underline;
    font-weight: normal;
  }
  .wulai-log .time b:hover {
    cursor: pointer;
    color: #666;
  }
  .wulai-log .detail {
    max-width: 222px;
    float: left;
    padding: 5px 9px;
    position: relative;
    margin-left: 13px;
    background: #f5f5f5;
    border: 1px #f5f5f5 solid;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
    word-break: break-word;
  }
  .wulai-log .detail:before, .wulai-log .detail:after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    top: 7px;
    position: absolute;
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
  }
  .wulai-log .detail:before {
    border-width: 7px;
    color: #f5f5f5;
    left: -13px;
  }
  .wulai-log .detail:after {
    color: #f5f5f5;
    left: -6px;
    border-width: 3px;
    top: 11px;
  }
  .wulai-log.myself {
  }
  .wulai-log.myself .avatar {
    float: right;
  }
  .wulai-log.myself .time {
    float: right;
    margin-left: 0;
    margin-right: 13px;
    text-align: right;
  }
  .wulai-log.myself .detail {
    float: right;
    margin-left: 0;
    margin-right: 13px;
    background: #38B2A6;
    border: 1px #38B2A6 solid;
    color: white;
  }
  .myself .detail:before, .myself .detail:after {
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
  }
  .wulai-log.myself .detail:before {
    border-left-color: #38B2A6;
    left: auto;
    right: -12px;
  }
  .wulai-log.myself .detail:after {
    border-left-color: #38B2A6;
    left: auto;
    right: -6px;
  }
  .wulai-log-info {
    text-align: center;
    padding: 5px;
    color: #999;
  }
  .wulai-rename {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
  }
  .wulai-rename span {
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
    position: absolute;
    left: 420px;
    background: #EEE;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 2px;
    text-align: center;
  }
  .wulai-rename span:hover {
    background: #ccc;
  }
  .wulai-rename input {
    position: absolute;
    left: 150px;
    top: 50%;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    border: none;
    width: 250px;
    border-radius: 2px;
    margin-top: -15px;
    outline: none;
  }
  .wulai-rename label {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    left: 70px;
    color: #FFF;
    font-size: 14px;
  }
  .wulai-fold .wulai-rename {
    display: none !important;
  }
  .wulai-log-time {
    padding: 20px;
  }
  .wulai-log-time img {
    width: 28px;
    vertical-align: middle;
    margin: 0 2px;
    border-radius: 100%;
    cursor: pointer;
  }
  .wulai-log-time strong {
    font-weight: normal;
    cursor:pointer;
    text-decoration: underline;
  }
  .wulai-send-btn {
    position: relative;
    z-index: 0;
    float: right;
    width: 52px;
    height: 24px;
    text-align: center;
    top: 48px;
    font-size: 12px;
    padding-top: 7px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    background: #38B2A6;
    border-radius: 2px;
    color: white;
  }

